:root {
    --primary: #0E1217;
    --accent: rgba(156, 163, 175, 1);
    background-color: var(--primary);
    color: #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background:  var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}